<div *ngFor="let item of execHistory" (click)="focusInput()">
  <div class="prompt-wrapper">
    <div class="prompt">PostgRustQL#:&nbsp;</div>
    <pre class="executed-query">{{ item?.queryString }}</pre>
  </div>
  <br />
  <div *ngIf="item?.queryResults?.success === true" class="results">
    <div *ngFor="let results of item?.queryResults?.results">
      <app-results-table [results]="results" *ngIf="results?.rows" class="results-table"></app-results-table>
    </div>
  </div>
  <div *ngIf="item?.queryResults?.success === true" class="ok">
    <div>ok!</div>
  </div>
  <div *ngIf="item.queryResults?.success !== true" class="failed">
    <div>fail..</div>
    <div>Error: {{ item?.queryResults?.error }}</div>
  </div>
</div>

<div class="prompt-wrapper" (click)="focusInput()">
  <div class="prompt">PostgRustQL#:&nbsp;</div>
  <textarea
    [(ngModel)]="queryString"
    (keyup.enter)="onQuerySubmit($event)"
    (keyup)="autoGrow($event)"
    class="terminal-input"
    [cdkTextareaAutosize]="false"
    #promptInput="cdkTextareaAutosize"
    #promptInputRef
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
  ></textarea>
</div>
