<div *ngFor="let item of execHistory">
  <div class="prompt-wrapper">
    <div class="prompt">PostgRustQL #: &nbsp;</div>
    <div class="executed-query">{{ item?.queryString }}</div>
  </div>
  <div *ngIf="item?.queryResults?.success === true">
    <div *ngFor="let results of item?.queryResults?.results">
      <app-results-table [results]="results" *ngIf="results?.rows"></app-results-table>
      <div *ngIf="results?.rows && results?.rows?.length !== 1">({{ results?.rows?.length }} results)</div>
      <div *ngIf="results?.rows && results?.rows?.length === 1">({{ results?.rows?.length }} result)</div>
    </div>
  </div>
  <div *ngIf="item?.queryResults?.success === true">
    <div>ok!</div>
  </div>
  <div *ngIf="item.queryResults?.success !== true">
    <div>fail..</div>
    <div>Error: {{ item?.queryResults?.error }}</div>
  </div>
</div>

<div class="prompt-wrapper">
  <div class="prompt">PostgRustQL #: &nbsp;</div>
  <input type="text" name="" id="" [(ngModel)]="queryString" (keyup.enter)="onQuerySubmit()" class="terminal-input" />
</div>
